@import url("normalize.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: inherit;
  font-family: Montserrat, sans-serif !important;
  font-size: 16px !important;
  transition: background-color 5000s ease-in-out 0s;
}

:root {
  --basic-white: #fafefd;
  --blue-1: #76a8e3;
  --blue-2: #9dc3d7;
  --blue-3: #d8effb;
  --hover-color: #011b35;
  --buttons-color: #0e0adb;
  --disable-color: #e5e5e5;
  --active-color: #050383;

  --icons: #201f22;
  --secondary-text: #696969;
  --titles: #0c0202;
  --main-text: #02101f;
  --in-stock: #02c121;
  --out-of-stock: #e69800;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Montserrat, sans-serif;
}

main {
  min-height: calc(100vh - 688px - 54px);
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  font-family: Montserrat, sans-serif;
  color: var(--main-text);
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
}

p {
  color: var(--main-text);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

input {
  padding: 16px;
}

figure {
  margin: 0;
  width: 100%;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.is-hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
