@import url("normalize.css");

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: inherit;
  font-family: Montserrat, sans-serif !important;
  font-size: 16px !important;
  transition: background-color 5000s ease-in-out 0s;
}

:root {
  /** Colors **/
  --basic-white: #fcfbfb;
  --basic-grey: #606161;
  --basic-black: #111010;
  --accent-wight: #fefefe;
  --accent-yellow-100: #fffaeb;
  --accent-yellow-200: #fff1c6;
  --accent-yellow-300: #ffe288;
  --accent-green-300: #00544d;

  --text-input: #8c9098;
  --logo-yellow-400: #f3c80b;
  --link-yellow-500: #e9a116;
  --shadov-yellow-500: #c2a009;
  --logo-blue: #27a6eb;
  --delete-red: #f20a0a;
  --edit-green: #24a750;
  --green-100: #b0c0be;

  --viber-color: rgba(119, 50, 169, 1);
  --telegram-color: rgba(37, 163, 226, 1);
  --facebook-color: rgba(24, 119, 242, 1);
  --instagram-color: rgba(216, 51, 121, 1);

  /** Gradients **/
  --liner-gradient-green: linear-gradient(to right, #00544d 100%, #00544d 0%);
  --radial-gradient-green: radial-gradient(circle, #00544d 0%, #f9f9f9 100%);

  --pagination-width: 414px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  background-image: url("/noiseAndTexture.png");
  color: var(--basic-black);
}

main {
  min-height: calc(100vh - 688px - 54px);
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
}

p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.is-hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0px 40px 120px;
}
